extends layout

block content

  form(id='character')
  
    div(class='top')

      input(id='characterName' type='text' name='characterName')
      br
      label(for='characterName') Character Name

      input(id='class' type='text' name='class')
      br
      label(for='class') Class

      input(id='level' type='text' name='level')
      br
      label(for='level') Level

      input(id='background' type='text' name='background')
      br
      label(for='background') Background

      input(id='playerName' type='text' name='playerName')
      br
      label(for='playerName') Player Name

      input(id='race' type='text' name='race')
      br
      label(for='race') Race

      input(id='alignment' type='text' name='alignment')
      br
      label(for='alignment') Alignment

      input(id='experience' type='number' name='experience')
      br
      label(for='experience') Experience Points

      input(id='dciNumber' type='number' name='dciNumber')
      br
      label(for='dciNumber') DCI Number

    div(class='col left')

      div(class='leftupper group')

        div(class='leftleft')
          h2 Stats

          input(id='strength' type='number' name='strength')
          label(for='strength') Strength
          input(id='strengthMod' type='number' name='strengthMod')
          label(for='strengthMod') Mod
          br
          br
          input(id='dexterity' type='number' name='dexterity')
          label(for='dexterity') Dexterity
          input(id='dexterityMod' type='number' name='dexterityMod')
          label(for='dexterityMod') Mod
          br
          br
          input(id='constitution' type='number' name='constitution')
          label(for='constitution') Constitution
          input(id='constitutionMod' type='number' name='constitutionMod')
          label(for='constitutionMod') Mod
          br
          br
          input(id='intelligence' type='number' name='intelligence')
          label(for='intelligence') Intelligence
          input(id='intelligenceMod' type='number' name='intelligenceMod')
          label(for='intelligenceMod') Mod
          br
          br
          input(id='wisdom' type='number' name='wisdom')
          label(for='wisdom') Wisdom
          input(id='wisdomMod' type='number' name='wisdomMod')
          label(for='wisdomMod') Mod
          br
          br
          input(id='charisma' type='number' name='charisma')
          label(for='charisma') Charisma
          input(id='charismaMod' type='number' name='charismaMod')
          label(for='charismaMod') Mod

        div(class='leftright')

          input(id='inspiration' type='checkbox' name='inspiration')
          label(for='inspiration') Inspiration
          br
          br
          input(id='proficiency' type='number' name='proficiency')
          label(for='proficiency') Proficiency

          div(class='savingThrows')

            h2 Saves

            input(id='strengthSaveProficiency' type='checkbox' name='strengthSaveProficiency')
            input(id='strengthSave' type='number' name='strengthSave')
            label(for='strengthSave') Strength
            br
            br
            input(id='dexteritySaveProficiency' type='checkbox' name='dexteritySaveProficiency')
            input(id='dexteritySave' type='number' name='dexteritySave')
            label(for='dexteritySave') Dexterity
            br
            br
            input(id='constitutionSaveProficiency' type='checkbox' name='constitutionSaveProficiency')
            input(id='constitutionSave' type='number' name='constitutionSave')
            label(for='constitutionSave') Constitution
            br
            br
            input(id='intelligenceSaveProficiency' type='checkbox' name='intelligenceSaveProficiency')
            input(id='intelligenceSave' type='number' name='intelligenceSave')
            label(for='intelligenceSave') Intelligence
            br
            br
            input(id='wisdomSaveProficiency' type='checkbox' name='wisdomSaveProficiency')
            input(id='wisdomSave' type='number' name='wisdomSave')
            label(for='wisdomSave') Wisdom
            br
            br
            input(id='charismaSaveProficiency' type='checkbox' name='charismaSaveProficiency')
            input(id='charismaSave' type='number' name='charismaSave')
            label(for='charismaSave') Charisma

          div(class='skills')

            h2 Skills

            input(id='acrobaticsProficiency' type='checkbox' name='acrobaticsProficiency')
            input(id='acrobatics' type='number' name='acrobatics')
            label(for='acrobatics') Acrobatics
            br
            br
            input(id='animalHandlingProficiency' type='checkbox' name='animalHandlingProficiency')
            input(id='animalHandling' type='number' name='animalHandling')
            label(for='animalHandling') Animal Handling
            br
            br
            input(id='arcanaProficiency' type='checkbox' name='arcanaProficiency')
            input(id='arcana' type='number' name='arcana')
            label(for='arcana') Arcana
            br
            br
            input(id='athleticsProficiency' type='checkbox' name='athleticsProficiency')
            input(id='athletics' type='number' name='athletics')
            label(for='athletics') Athletics
            br
            br
            input(id='deceptionProficiency' type='checkbox' name='deceptionProficiency')
            input(id='deception' type='number' name='deception')
            label(for='deception') Deception
            br
            br
            input(id='historyProficiency' type='checkbox' name='historyProficiency')
            input(id='history' type='number' name='history')
            label(for='history') History
            br
            br
            input(id='insightProficiency' type='checkbox' name='insightProficiency')
            input(id='insight' type='number' name='insight')
            label(for='insight') Insight
            br
            br
            input(id='intimidationProficiency' type='checkbox' name='intimidationProficiency')
            input(id='intimidation' type='number' name='intimidation')
            label(for='intimidation') Intimidation
            br
            br
            input(id='investigationProficiency' type='checkbox' name='investigationProficiency')
            input(id='investigation' type='number' name='investigation')
            label(for='investigation') Investigation
            br
            br
            input(id='medicineProficiency' type='checkbox' name='medicineProficiency')
            input(id='medicine' type='number' name='medicine')
            label(for='medicine') Medicine
            br
            br
            input(id='natureProficiency' type='checkbox' name='natureProficiency')
            input(id='nature' type='number' name='nature')
            label(for='nature') Nature
            br
            br
            input(id='perceptionProficiency' type='checkbox' name='perceptionProficiency')
            input(id='perception' type='number' name='perception')
            label(for='perception') Perception
            br
            br
            input(id='performanceProficiency' type='checkbox' name='performanceProficiency')
            input(id='performance' type='number' name='performance')
            label(for='performance') Performance
            br
            br
            input(id='persuasionProficiency' type='checkbox' name='persuasionProficiency')
            input(id='persuasion' type='number' name='persuasion')
            label(for='persuasion') Persuasion
            br
            br
            input(id='religionProficiency' type='checkbox' name='religionProficiency')
            input(id='religion' type='number' name='religion')
            label(for='religion') Religion
            br
            br
            input(id='slightOfHandProficiency' type='checkbox' name='slightOfHandProficiency')
            input(id='slightOfHand' type='number' name='slightOfHand')
            label(for='slightOfHand') Slight Of Hand
            br
            br
            input(id='stelthProficiency' type='checkbox' name='stelthProficiency')
            input(id='stelth' type='number' name='stelth')
            label(for='stelth') Stelth
            br
            br
            input(id='survivalProficiency' type='checkbox' name='survivalProficiency')
            input(id='survival' type='number' name='survival')
            label(for='survival') Survival

      div(class='leftlower')
        input(id='passivePerception' type='number' name='passivePerception')
        label(for='passivePerception') Passive Perception
        br
        br
        textarea(id='proficiencies' form='character' name='proficiencies')
        br
        label(for='proficiencies') Proficiencies
        br
        br
        textarea(id='languages' form='character' name='languages')
        br
        label(for='languages') Languages

    div(class='col center')
      div(class='centerupper')
        input(id='armorClass' type='number' name='armorClass')
        label(for='armorClass') Armor Class

        input(id='initiative' type='number' name='initiative')
        label(for='initiative') Initiative

        input(id='speed' type='number' name='speed')
        label(for='speed') Speed

      input(id='hpMax' type='number' name='hpMax')
      label(for='hpMax') Hit Point Maximum

      input(id='hpCurrent' type='number' name='hpCurrent')
      label(for='hpCurrent') Current Hit Points

      input(id='hpTemp' type='number' name='hpTemp')
      label(for='hpTemp') Temporary Hit Points

      input(id='hitDieTotal' type='text' name='hitDieTotal')
      label(for='hitDieTotal') Total

      input(id='hitDie' type='text' name='hitDie')
      label(for='hitDie') Hit Dice

    div(class='col right')
      textarea(id='personalityTraits' form='character' name='personalityTraits')
      label(for='personalityTraits') Personality Traits
